<div class="container">
  <h1 class="display-1">Generate Password!</h1>
  <div class="row">
    <div class="col input-group mb-3">
      <span class="input-group-text">Length</span>
      <input
        type="number"
        class="form-control"
        placeholder="length"
        [(ngModel)]="length"
        [ngModelOptions]="{ standalone: true }"
        min="5"
        max="40"
        step="1"
      />
    </div>
    <div class="col">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [(ngModel)]="useUpperCase"
          [ngModelOptions]="{ standalone: true }"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">
          Uppercase
        </label>
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [(ngModel)]="useSpecialCharacters"
          [ngModelOptions]="{ standalone: true }"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault">
          Special Characters
        </label>
      </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      [(ngModel)]="password"
      name="password"
      class="form-control text-center"
      placeholder="Click in generate"
      aria-label="Click in generate"
      aria-describedby="generateBtn"
      readonly
    />
    <button
      (click)="copyPassword()"
      [ngClass]="{ 'btn-success': showCopied, 'btn-primary': !showCopied }"
      class="btn"
      type="button"
    >
      <i
        [ngClass]="{
          'bi bi-clipboard': !showCopied,
          'bi bi-check-circle': showCopied
        }"
      ></i>
    </button>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button (click)="generatePassword()" class="btn btn-danger btn-lg" type="button">
      Generate
    </button>
  </div>
</div>
