<div class="center-screen">
    <div class="card max-w p-5">
        <h1 class="card-header mb-3">Generate Password!</h1>
        <div class="row">
            <div class="row mb-1">
                <span class="col-10"> Password length </span>
                <input
                    type="number"
                    class="col-2 form-control"
                    placeholder="Password length"
                    [(ngModel)]="length"
                    [ngModelOptions]="{ standalone: true }"
                    min="5"
                    max="100"
                    step="1"
                />
            </div>
            <div class="col">
                <div class="row mb-1">
                    <span class="col-10"> Include lowercase letters </span>
                    <input
                        class="col-1 form-check-input"
                        type="checkbox"
                        placeholder="Lowercase"
                        [(ngModel)]="useLowerCase"
                    />
                </div>
                <div class="row mb-1">
                    <label class="col-10"> Include uppercase letters </label>
                    <input
                        class="col-1 form-check-input"
                        type="checkbox"
                        placeholder="Uppercase"
                        [(ngModel)]="useUpperCase"
                    />
                </div>
                <div class="row mb-1">
                    <label class="col-10"> Include symbols </label>
                    <input
                        class="col-1 form-check-input"
                        type="checkbox"
                        placeholder="symbols"
                        [(ngModel)]="useSpecialCharacters"
                    />
                </div>
                <div class="row mb-3">
                    <label class="col-10"> Include numbers </label>
                    <input
                        class="col-1 form-check-input"
                        type="checkbox"
                        placeholder="Numbers"
                        [(ngModel)]="useNumbers"
                    />
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control text-center"
                placeholder="Click in generate"
                aria-label="Click in generate"
                aria-describedby="generateBtn"
                [(ngModel)]="password"
                readonly
            />
            <button
                (click)="copyPassword()"
                [ngClass]="{
                    'btn-success': showCopied,
                    'btn-primary': !showCopied
                }"
                class="btn"
                type="button"
            >
                Copy
                <i
                    [ngClass]="{
                        'bi bi-clipboard': !showCopied,
                        'bi bi-check-circle': showCopied
                    }"
                >
                </i>
            </button>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
            <button
                (click)="generatePassword()"
                class="btn btn-info btn-lg"
                type="button"
            >
                Generate
            </button>
        </div>
    </div>
</div>
